{% extends "base.html" %}
{% load mathtags %}
{% block content %}
<div id="field">
Restaurant List
<br><br>

{% for restaurant in data %}
{% autoescape off %}
<div id="postbox">
<div id="content">
<h2><a href="/restaurant/{{restaurant.name|slugify}}">{{restaurant.name}}</a></h2>
<br>{{restaurant.address}}
<br>{{restaurant.city}}{% if restaurant.state %},{% endif %} {{restaurant.state}}&nbsp;{{restaurant.postcode}}
<br>{{restaurant.country}}
<br><br>Lat: {{restaurant.lat}}, Long: {{restaurant.lng}}
<br><br>Comments: {{restaurant.commentcount}}
<div id="yesbox"><img src="/up.png">
<div id="yesnum">{{restaurant.vote_yes}}</div>
<div id="yesvote">
<form action="." method="post">
<input type="hidden" name="id" value={{restaurant.id}}>
<input type="hidden" name="vote" value="yes">
<input type="submit" value="Vote YES"></form>
</div>
</div>
<div id="nobox"><img src="/down.png">
<div id="nonum">{{restaurant.vote_no}}</div>
<div id="novote">
<form action="." method="post">
<input type="hidden" name="id" value={{restaurant.id}}>
<input type="hidden" name="vote" value="no">
<input type="submit" value="Vote NO"></form>
</div>
</div>
<div id="total">
Total votes: {% add restaurant.vote_yes restaurant.vote_no %}
<br>Rank: {{restaurant.rank_pct}}

</div>


{% if detail %}
{% if comments %}
<div id="commentbox">
<h3>Comments:</h3>
{% for comment in comments %}
<br>On {{comment.date|date:"D, j M y - H:i"}}, {% if comment.user == user %}<img src="/youwrote.jpg">{% else %}<br>{{comment.user}} wrote:{% endif %}<br>
{{comment.content|linebreaksbr}}<br>
{% endfor %}
{% endif %}
{% if user.is_authenticated %}
<form action="." method="post">
<h3>Add your comment!</h3>
<table>
<tr><td>Message:</td><td><textarea name="content" maxLength=2500 rows="8" cols="80"></textarea></td></tr>
</table>
<input type="hidden" name="id" value={{restaurant.id}}>
<input type="hidden" name="comment" value="yes">
<input type="submit" value="Post your Comment">
</form>
</div>
{% endif %}
{% endif %}
</div></div>
<br>
{% endautoescape %}
{% endfor %}
</div>
{% endblock %}
